
 .container{ 
     display: flex; 
     justify-content: center; 
     align-items: center;
 }
.homegallery{
    display: grid;
    grid-template-columns: 350px 350px;
    grid-template-rows: 200px 200px 200px 200px 200px;
    grid-row-gap: 20px;
    column-gap: 20px; 
    /* top right bottom left*/
    /**/
   /* margin: 0 150px 0 150px;*/
}

.homegallery > div > img{
    height:100%; 
    width:100%; 
    object-fit: cover; 
}

.family-member-photos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}

.family-member-name {
    font-style: bold italic;
}
.family-member-photos > p {
    font-size: 1fr;
}